<app-header></app-header>
<main>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <ul class="productos">
        
        <li class="expandable">
            
            <h2>CONVERSOR DE DIVISAS</h2>
            <img src="https://i.postimg.cc/v8JdknGB/Visualizacion-Principal.png" alt="" width="100%">
            <p class="producto-descripcion">Este proyecto fue realizado en JAVA Implementando una API para tomar el valor actual de cada moneda</p>
            <p class="producto-precio">JAVA</p>

            <br>
            <a href="https://github.com/JhonWH05/Conversor-de-Divisas---Challenge-Alura.git"> <button>Ir a codigo</button></a>
            </li>
        
        <li class="expandable"> 
            <h2>CRUD - ESCUELA</h2>
            <img src="https://i.postimg.cc/Twj1jrSt/Registro-Profesor.png" alt="" width="100%">
            <p class="producto-descripcion">En este proyecto se realizó un CRUD de registros de un colegio ingresando (Asignaturas, Docentes, Estudiantes y notas )</p>
            <p class="producto-precio">JavaScript, Php , Bootstrap, Mysql, Html, Css</p>
            <br>
            <a href="https://github.com/JhonWH05/ProyectoCursos-PHP-.git"> <button>Ir a codigo</button></a>
            </li>
        
        <li class="expandable">
             <h2>PORTAFOLIO WEB</h2>
            <img src="https://i.postimg.cc/R0NGtkSz/portafolio.png" alt="" width="100%">
            <p class="producto-descripcion">Desarrollo de portafolio web personal para visualización habilidades y proyectos realizados </p>
            <p class="producto-precio">Html, css, JavaScript, & utilizamos el framework de Angular</p>
             </li>
    </ul>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
     
    
</main>
<app-footer></app-footer>