<!DOCTYPE html>

<html lang="es">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Perfil Jhon Hernandez</title>

    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Playfair+Display:wght@600&display=swap"
        rel="stylesheet">

</head>

<body>
    
 


    <footer class="animate__animated animate__fadeInDown">
        <img src="assets/html5.png" alt="" class="tamañoimgfooter">
        <img src="assets/css-3.png" alt="" class="tamañoimgfooter">
        <img src="assets/js.png" alt="" class="tamañoimgfooter">
        <img src="assets/angular.png" alt="" class="tamañoimgfooter">
        <img src="assets/php.png" alt="" class="tamañoimgfooter">
        <img src="assets/mysql.png" alt="" class="tamañoimgfooter">
        <img src="assets/java.png" alt="" class="tamañoimgfooter">
        <img src="assets/bootstrap.png" alt="" class="tamañoimgfooter">
        
        
    </footer>

   
</body>

</html>