<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">
   
    <title>Header</title>
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Playfair+Display:wght@600&display=swap"
        rel="stylesheet">

</head>
<body>
    
    <header class="container">
    
        <div class="caja" class="animate__animated animate__fadeInDown">
            <h1><img src="assets/jhon.jpeg" class="redondear"></h1>
            
 
            <nav class="animate__animated animate__fadeIn">
                <ul>

                    <li><a href="index.html">Presentación</a> </li>
                    <li><a href="proyectos">Portafolio de proyectos</a> </li>
                    <li><a href="certificaciones">Certificados</a> </li>
                    <li><a href="contacto">Contacto</a> </li>

                    <nav class="nav2" class="animate__animated animate__fadeInUp">
                    <a href="https://github.com/JhonWH05"><img src="assets/github.png" class="iconos">Perfil GITHUB</a>
                    <a href="https://www.linkedin.com/in/jhon-hernandez-632224243"><img src="assets/linkedin.png" class="iconos">Perfil Linkedin</a>
                    </nav>
                    </ul>
               
            </nav>
            
        </div>

    </header>

</body>
</html>

