
.redondear{
    border-radius: 50%;
    width: 20%;
   
   
}
header{
    background-color: #9fd5d1 ;
    padding: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: background-color 0.5s ease;
}
.container {
    opacity: 0;
    animation-name: fadein;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }
  

header.scrolled {
	background-color: white;
	color: #333;
	box-shadow: 0 2px 2px rgba(0,0,0,0.1);
}

.caja{
   width: auto;
   position: relative;
   margin:  auto;
   transition: height 0.5s ease;
}

p{
    text-align: justify;
}

nav{
    position: absolute;
    top: 110px;
    right: 150px;
    margin: 0 auto;
    margin-left: 170px;
    float: right;
    
}
.nav2{
    text-align: center;
}

nav li{
display: inline;
margin: 0 0 0 20px;
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}
