<!DOCTYPE html>

<html lang="es">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil Jhon Hernandez</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Playfair+Display:wght@600&display=swap"
        rel="stylesheet">

</head>
<app-header></app-header>

<body>
    

    <main  class="animate__animated animate__fadeIn" >

        <section class="principal">

            <h2 class="titulo-principal">Quien Soy</h2>

           

            <p>Saludos, mi nombre es <strong>Jhon Hernandez</strong> Soy <strong>ingeniero de sistemas</strong>  en proceso de titulación; culminé
               todos mis semestres academicos, pero me encuentro cursando un diplomado de <strong>Gestión de tecnologias de la información</strong> como opción de grado</p>

            <p>Tambien me estoy formando como Backend en Java & Spring Boot en Alura asociado con Oracle</p>

            <p>Tengo conociemientos en Java, PHP, CSS, HTML5, BOOTSTRAP, ANGULAR, MYSQL, JAVASCRIPT, JQUERY</p>

        </section>

        
    </main>


   
</body>
<app-footer></app-footer>

</html>